<!DOCTYPE html>
<html>
{% load static %}   
<title>Fundacion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block style %}
{% endblock style %}
<body class="w3-light-grey">

<!-- Contenerdor Pagina -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- Grilla -->
  <div class="w3-row-padding">
  
    <!-- Columna izquierda -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img id="currentPhoto" src="{% static 'fundacion/images/perfil.jpg' %}"  width="100%">
        </div>
        <div class="w3-container w3-text-black"> 
			    {% for n in info %}
				   <h3><strong>Informacion: </strong></h3><p> {{ n.info_fundacion }} </p>
				  {% endfor %}
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Acciones de Administrador</b></p>
          <p><a class="w3-button w3-teal w3-block w3-round-xxlarge" href="/agregar">Agregar Mascota</a></p>
          <p><a class="w3-button w3-teal w3-block w3-round-xxlarge" href="/seleccionar">Editar Mascota</a></p>
          <p><a class="w3-button w3-teal  w3-block w3-round-xxlarge" href="/eliminar">Eliminar Mascota</a></p>
          <hr>
          <p><a class="w3-button w3-cyan  w3-block w3-round-xxlarge">Cerrar Sesiòn</a></p>
        </div>
      </div><br>

      <!-- Fin Columna izquierda -->
      </div>
      <!-- Columna Derecha -->
		{% block content %}
		{% endblock content %}
	  <!-- Fin Columna Derecha -->
     <!-- Fin Grilla-->
    </div>
 <!-- Fin Contenedor Pagina-->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Creado por:</p>
  <p> Ana Maria Garcia, Leonardo Saez, Katherine Camacho, Andrès Felipe Delgado</p>

</footer>

</body>
