
{% extends 'homebase.html' %}

{% block slider %} {% include 'slider.html' %} {% endblock %}



{% for f in fotos_slide %}
				<div class="card">
					<div class="user">
						<img class="user"src="{{ f.foto.url }}" alt="" style="height: 300px"/>
						<div class="profile">
							<div class="name">{{ f.titulo}}</div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>Busco a mi mejor amigo</span>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}